@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #EEDBD7;
    color: #1B1C3D;
    font-family: 'Kaisei Decol', serif;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
}

img {
    width: 100%;
    max-width: 600px;
    border: 5px solid #CF1A40
}

h2:hover {
    color: #804B40;
  } 

  a:hover {
      color: #948932;
  }